
.grid-layout-container{
    max-width: 120rem;
    height:100vh;
    display:grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr 8fr 1fr;
}

body{
    background: #CED4DA;
    font-family: "Inter", sans-serif;
}

textarea{
    box-sizing: border-box;
    resize:none;
    border: none transparent;
    font-size: 2em;
}

textarea:focus{
    outline: none;
}

#header{
    box-sizing: border-box;
    grid-column: 1/2;
    grid-row:1/2;
    padding: 0 0 1rem 5.25rem;
}

.logo{
    margin: 1em;
}

.left-column{
    grid-column: 1/2;
    grid-row:2/3;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.input-container{
    box-sizing: border-box;
    width: 100%;
    padding: 0 8rem 0 12rem;
}

.input-container textarea{
    width: 100%;
    height: 60vh;
    background: #CED4DA;
    border-radius: 20px;
    padding: 3rem 1.5rem;
}

.btn-container{
    padding: 0 0 0 4rem;
}

.btn-container button{
    margin: 0 1rem;
}

.btn-mid{
    width: 13rem;
    height: 3rem;
    border: solid 2px blueviolet;
    border-radius: 1em;
    transition: all 0.5s;
    font-weight: 500;
}

.btn-mid:hover{
    background: blueviolet;
    transition: all 0.5s;
    cursor:pointer;
}

.right-column{
    grid-column: 2/3;
    grid-row:1/3;
    margin: 2rem 3rem 0 2rem;
    position: relative;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    background-color: white;
}

.result-off{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    transition: all 0.3s;
}

.result-on{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
    transition: all 0.3s;
}

.result-text{
    align-self: center;
    font-size: 1.5em;
    font-weight: bold;
}

.hidden{
    visibility: hidden;
    opacity: 0;
}

.no-result{
    visibility: hidden;
    opacity: 0;
}

.output-container textarea{
    flex-grow: 0.8;
}

.output-container button{
    align-self: center;
}

#footer{
    grid-column: 1/3;
    grid-row:3/4;
    background: #CED4DA;
}

