*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

::root {
  --main-bg: #4e6275;
}

html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
}

body {
  background: var(--main-bg);
  font-family: "Inter", sans-serif;
}

.main {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 75%;
  gap: 3rem;
}

.inputSide {
  box-sizing: border-box;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.inputArea,
.outputArea {
  width: 100%;
  box-sizing: border-box;
  resize: none;
  border: none transparent;
  font-size: 2em;
  border: #073e71 solid 2px;
  padding: 1rem;
  border-radius: 1rem;
}

.resultSide {
  flex: 1;
}

.outputArea {
  height: 100%;
  display: block;
}

.inputArea {
  flex: 3;
}

.inputArea:focus,
.outputArea:focus {
  outline: none;
}

.logo {
  margin: 1em;
}

.btnContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.btnMid {
  flex: 1;
  padding: 1rem 2rem;
  border: solid 2px blueviolet;
  border-radius: 1em;
  transition: all 0.5s;
  font-weight: 500;
}

.btnMid:hover {
  background: blueviolet;
  transition: all 0.5s;
  cursor: pointer;
}

.resultSide {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

.resultImg {
  display: block;
  width: 100%;
  height: 80%;
  border: #073e71 solid 2px;
  padding: 1rem;
  border-radius: 1rem;
}

.resultOff {
  display: block;
}

.resultOn {
  display: none;
}
